<div class="card-box">
  <!-- Card -->
  <div class="card border-0 card-h-100">
    <div class="card-header border-0 card-header-space-between">

      <!-- Title -->
      <h2 class="card-header-title h4 text-uppercase">
        Warehouse 
      </h2>

      <!-- Dropdown -->

    </div>

    <!-- Table -->
    <div class="table-responsive">
      <table
        id="projectsTable"
        class="table align-middle table-edge table-nowrap mb-0"
      >
        <thead class="thead-light">
          <tr>
            <th class="w-60px">No</th>
            <th>ID</th>
            <th>Product name</th>
            <th>Order date</th>
            <th>Price</th>
            <th>Feeship</th>
            <th>Description</th>
            <th>Brand</th>
            <th class="text-end">Button</th>
          </tr>
        </thead>

        <tbody>
          {{#each product}}
            <tr>
              <td>1</td>
              <td>{{this._id}}</td>
              <td>
                <span class="avatar-sm me-2">
                  <img src={{this.image}} alt="..." width="40" height="40" />
                </span>
                {{this.productname}}
              </td>
              <td>{{this.dateorder}}</td>
              <td>{{this.currency}}</td>
              <td>{{this.weight}}</td>
              <td>{{this.quality}}</td>
              <td>{{this.brand}}</td>
              <td class="text-end">

                <a href="">
                  <button type="button" class="btn btn-secondary" id="edit">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </button>
                </a>
                <a href="/products/api/product/:id">
                  <button type="button" class="btn btn-secondary">
                    <i class="fa-solid fa-trash-can"></i>
                  </button>
                </a>

              </td>
            </tr>

          {{/each}}
        </tbody>
      </table>
    </div>

    <!-- / .table-responsive -->
  </div>
</div>
